<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pokes</title>
</head>
<body>
    <h1>Can you Name all 150??</h1>
    <section>
        <ul class = 'pokes'>
            <% pokes.forEach( el => { %>
                <li class='poke' data-id='<%=el._id%>'>
                    <span class= '<%= el.favorite === true ? 'favorite' : 'notFavorite'%>'>Name:<%= el.name%>Type:<%=el.type %></span>
                    <button class = "deleteButton">Delete</button>
                </li>
            <% }) %>  
        </ul>
        <h2>Remaining Pokemon:<span><%= -(remaining) + 151   %></span></h2>
    </section>
    <section>
        <form action = "/addPoke" method = "POST">
            <input type="text" name="addName" id="name" placeholder="put name here">
            <input type="text" name="addType" id="type" placeholder="put type here">
            <input type = 'submit'>
        </form>
    </section>
    <script src = 'main.js'></script>
</body>
</html>

